.interaction {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
    justify-content: center;

    /* .card {
      border: unset;
      background-color: #fcfcfc;
      padding-top: 1.5rem;
    }

    @media (width>500px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    } */
  }
}