.proposals .cards {
  display: grid;
  gap: 20px;

  .card {
    border: unset;
    background-color: #fcfcfc;
    padding-top: 1.5rem;

    .cardTitleImg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .card-title {
        font-size: 1.2rem;
      }
    }

    .card-body {
      .card-text {
        text-align: justify;
      }
    }

    .image {
      width: 4rem;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

@media (width>575px) {
  .proposals .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width>1000px) {
  .proposals .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}