.profile {
  .about {
    background: #ffffff;
    padding-bottom: 2.5rem;

    .card {
      padding-top: .5rem;
      background-color: transparent;
      border: unset;

      .image {
        width: 5rem;
        overflow: hidden;
        border-radius: 50%;
        margin: auto;
      }

      .started-number {
        cursor: default;
        position: absolute;
        line-height: 0;
        font-size: 200px;
        opacity: .03;
        font-variant-numeric: lining-nums;
        top: 8%;
        left: 43px;
      }
    }
  }

  .moreaboutme {
    background-color: var(--backgroundYellow);
    padding: 4rem 0;

    .cardsLink {
      grid-template-columns: repeat(auto-fit, minmax(220px, 400px));
    }
  }
}