:root {
  --color: #293a01;
  --backgroundApp: #dadada;
  --backgroundYellow: #ffd71d;
}

* {
  color: var(--color);
}

html {
  scroll-behavior: smooth;
}

.App {
  min-width: 285px;
  box-sizing: border-box;
  background: #ffffff;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.icon {
  width: 8rem;
  overflow: hidden;
  border-radius: 50%;

  @media (width>575px) {
    width: 10rem;
  }
}

h1,
h2 {
  font-size: 2.5rem;
}

.interaction,
.moreaboutme {
  .cardsLink {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 60px;
    justify-content: center;

    .card {
      transition: box-shadow .4s;

      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
      }

      .card-body {
        .card-text .see {
          &:hover {
            color: blue;
          }
        }
      }
    }
  }
}