:root {
  --color: #293a01;
  --backgroundApp: #dadada;
  --backgroundYellow: #ffd71d;
}


* {
  color: var(--color);
}

.App {
  min-width: 285px;
  box-sizing: border-box;
  background: #ffffff;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h1,
h2 {
  font-size: 2.5rem;
}