/* Barra de munú */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

/* Cuando el navbar está colapsado */
.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  position: absolute;
  top: 10px;
  transform: rotate(0deg);
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* Cuando navbar está clickeado */
.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  top: inherit;
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

/* Linea de subrayado */
.nav-item {
  position: relative;
}

.nav-item a::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 97%;
  height: 3px;
  background: black;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.nav-item a:hover::after,
.nav-item a.active::after {
  transform: scaleX(1);
}

/* MediaQuery */
@media (width>991px) {
  .navbar {
    --bs-navbar-padding-y: 0.1rem;
  }
}

@media (width<992px) {
  .nav-item a::after {
    width: 20%;
  }
}